# Compiled Static libraries
*.lib

# Executables
*.exe

# VScode
.vscode

# CMake build
build

# CMake testing
Testing

# CMake .cmake folder
.cmake

# .ini files
*.ini

# glad library
libglad.a



# CMake Cache
CMakeCache.txt

# CMake CMakeFiles folder
CMakeFiles

# Hidden docx files
~$ntentof NEA Programing Project (Component 03).docx

# CMake_install
cmake_install.cmake

#Makefile
Makefile
